
body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    max-width: 1440px;
}



header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.logo {
    height: 50px;
    margin-left: 100px;
} 



.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* Intégration de la page phtographer.html */

.article {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.wrapperpicture {
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;

}

.wrapperpicture  img {
    width: 130%;
    height: 130%;
    border-radius: 50%;
    object-fit: cover;  
    position: absolute;
    left: -10%;
    top: -10%;
}


.price {
    display: none;
}

.mydiv {
    order: 0;
}

.mydiv h2 {
    color: #D3573C;
    font-weight: 400;
    font-size: 64px;
    margin: 0%;
    order: 2;
}
.mydiv h3 {
    color: #901C1C;
    font-weight: 400;
    font-size: 24px;
    margin: 0%;
}

.contact_button {
    order: 1;
}

.wrapperpicture {
    order: 1;
}


/*Intégration de la partie filtre de la page photographer */

.sort_picture {
    display: flex;
    margin-left: 100px;
    margin-top: 1rem;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
}

.sort_paragraph {
    margin-right: 1rem;
}



.sort_button {
    margin-left: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12%;
    background-color: #901C1C;
    color: white;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    gap: 1rem;

}

.sort_button ol {
    padding: 0%;
}

.dropdown_menu {
    list-style-type: none;
    position: relative;
    width: 90%;
}


.dropdown_menu input {
    opacity: 0;
    position: absolute;
    top: 0.2rem;
    right: 0.5rem;
}
.dropdown_menu img {
    opacity: 1;
    position: absolute;
    top: 0.2rem;
    right: 0.5rem;
    transition: transform 200ms ease-in-out;

}

.selection{
    width: 100%;
    height: 100%;
    background-color: #901C1C;
    color: white;
    display: flex;
    flex-direction: row;
 text-align: center;
font-weight: 700;
font-size: 18px;
border-radius: 10px;
}


/* Style des photographies et vidéos des photographes - mise en Card */

.photographies {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 5rem;
   row-gap: 1.5rem;
   padding-left: 6rem;
   padding-right: 6rem;
   margin-top: 4rem;
    height: 100%;

}
.cardphotographer{
    border-radius: 10px;
}

.imagephotographer , .video{
   width: 100%;
   border-radius: 10px;
   height: 250px;
   object-fit: cover;
   object-position: 20% 20%;
}

.underpart {
    display: flex;
    justify-content: space-between;
}

.underpart p {
    margin: 0%;
}

.divoflikes {
    display: flex;
    gap: 0.5rem;
}

.paragraphphotografer {
    color: #901C1C;
    font-weight: 400;
    font-size: 18px;
}

.paragraphphotografermodal {
    color: #901C1C;
    font-weight: 400;
    font-size: 18px;
}

/* intégration de la barre de tarif de la page photographer */

.aside_bar {
    display: flex;
    justify-content: space-around;
    background-color: #D3573C;
    color: black;
    width: 370px;
    position: sticky;
    bottom: 0rem;
    margin-left: 70%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
}

.paragraph_bar {
    display: flex;
    gap: 1rem;
    width: 25%;
}


/* Intégration de la gallerie caroussel */

.divgalerie {

    margin: 2% 10% 5% 10%;
    width: 80%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.imageGalerie{
    margin-top: 2%;
    width: 70vh;
    height: 80vh;
    object-fit: cover;
}

.element_icon {
    width: 4rem;
}


.arrowprev {
    position: absolute;
    top: 40%;
    left: 20%;
}

.arrownext {
    position: absolute;
    top: 40%;
    right: 20%;
}

.cross {
    position: absolute;
    top: 10%;
    right: 20%;
}






