/*@import url("photographer.css");*/

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    max-width: 1440px;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}



.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin-bottom: 0%;
}

.wrapperpicture {
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;

}

.wrapperpicture  img {
    width: 130%;
    height: 130%;
    border-radius: 50%;
    object-fit: cover;  
    position: absolute;
    left: -10%;
    top: -10%;
}

.photographer_section a {
   display: flex;
   flex-direction: column;
   align-items: center;
   cursor: pointer;
   text-decoration: none;
}


.photographer_section h3 {
    color: #D3573C;
    font-size: 15px;
    font-weight: bold;
    margin: 2%;
}

.photographer_section p {
    font-size: 10px;
    color: black;
    margin: 2%;
    font-weight: bold;
}

#photographer_section_price {
    color: #757575;
    font-size: 9px;
    margin: 2%;
    
}

